# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Push Notifications
VITE_VAPID_PUBLIC_KEY=BPKQXfIOpVwOpV1gZVyuKn0F_Oc8DUBNTiAhwVt_D0JjJ8q6HF5Y2VCpbUZbsH8MWlChB4ynGU93XJeMgVuHswU
VAPID_PRIVATE_KEY=ZjRJJLLdUfP1aWtrrOhwt6aK8WuZ7TNbj_KqVIb0iQA
