# Supabase Configuration
VITE_SUPABASE_URL= https://srggltgrgrxxdscveuqq.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyZ2dsdGdyZ3J4eGRzY3ZldXFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMTI3MzEsImV4cCI6MjA5MTU4ODczMX0.xMtGAjqzTZUdZjnFDA-MaQbhWS6kvwD-3NRrJ7liJJ4
